<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
 <a class="navbar-brand" href="../index.html">
   <img src="../images/logo.png" alt="" width="40px" height="40px">
 </a>
 <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button> -->

 <div class="collapse navbar-collapse" >
   <!-- id="navbarSupportedContent" -->
   <ul class="navbar-nav mr-auto">
     <li class="nav-item">
       <a class="nav-link" href="../navbar/whyus.html">Why Us</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="../navbar/contact.html">Contact Us</a>
     </li>
     </ul>
     <ul class="navbar-nav ml-auto">
       <li class="nav-item">
         <a class="nav-link" href="/logout">Logout</a>
       </li>
      </ul>
   </div>
 </nav>
 <div class="w3-sidebar w3-light-white w3-bar-block move-down" style="width:15%">
     <a href="/farmerprofile" class="w3-bar-item  w3-button w3-hover-none w3-hover-text-green">My Profile</a>
     <a href="/requestpickup" class="w3-bar-item  w3-button w3-hover-none w3-hover-text-green">Request Pickup</a>
     <a href="/fpending" class="w3-bar-item  w3-button w3-hover-none w3-hover-text-green">Pending Requests</a>
     <a href="/fcompleted" class="w3-bar-item  w3-button w3-hover-none w3-hover-text-green">Completed Requests</a>
     <a href="/viewinvoice" class="w3-bar-item  w3-button w3-hover-none w3-hover-text-green">View Invoice Details</a>
     

 </div>
 <div>
     <button class="button buttonhover">Notifications</button>
 </div>
