<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="/whyus">Why Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contact">Contact Us</a>
  </li>
  <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Our Contribution
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="/Productdetails">Sustainable Products/Energy Generated</a>
    <a class="dropdown-item" href="/Incomedetails">Atmanirbhar Kisaan</a>
    <a class="dropdown-item" href="/Wastecollected">Waste Collected Statistics</a>
  </div>
</li>
</ul>
