/* Farmer : HOME */
.w3-sidebar{
    height:52% !important;
    top: 150px;
    /* margin-top:0.5rem; */
    /*box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);*/
      font-family: "Montserrat", Sans-Serif;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      color: rgba(105, 156, 94, 0.8);
      background: #FFFFFF;
      box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
  }
  
  .centred{
    margin-top:10rem;
    text-align: center;
    font-family: "Montserrat", Sans-Serif;
  }
  
  .centred .welcome{
    font-size: 36px;
    line-height: 44px;
  }
  .centred .started{
    font-size: 32px;
    line-height: 39px;
  }

.button{
  background-color: white;
  color: rgba(105, 156, 94, 0.8);
  border: 3px solid rgba(105, 156, 94, 0.8);
  border-radius: 20px;
  padding: 8px 22px;
  font-family: "Montserrat", Sans-Serif;
      font-style: normal;
      font-weight: 600;
      font-size: 19px;
 margin-top: 30px;

}

.b-profile{
  margin-left: 87%;
}

 .buttonhover:hover{
    background-color: rgba(105, 156, 94, 0.8);
  color: white;
 }

 /*Farmer-Username-Password-Reg*/
 .farmer-unp{
  margin-top: 80px;
  margin-left: 500px;
}

.farmer-unp label{
  font-family: "Montserrat", Sans-Serif;
    font-style: normal;
    font-weight:600;
    color: black;

}

.farmer-unp input[type=text] {
  width: 50%;
  padding: 0;
  margin: 0px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  font-family: "Montserrat", Sans-Serif;
    font-style: normal;
    font-weight:500;
}

.farmer-unp input[type=submit]{
  border: solid rgba(105, 156, 94, 0.8);
  color: white;
  font-family: "Montserrat", Sans-Serif;
    font-style: normal;
    font-weight:500;
    width: 150px ;
    border-radius: 40px;
    background-color: rgba(105, 156, 94, 0.8) ;
    margin-top: 30px;
    margin-left: 170px;
}

 /*Request Pickup
 .card .border{
    width: 500px;
    height: 600px;
    margin-left: 490px;
    margin-top: 38px;
    
    background: #FFFFFF;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
 }
*/

.w3-card{
    width: 530px; 
    height: 460px;
    margin-left: 500px;
    background-color: white;
    border-color: rgba(105, 156, 94, 0.8);
    border-radius: 40px;
}

.card-title{
    font-family: "Montserrat", Sans-Serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px; 
      color: rgba(105, 156, 94, 0.8);
      margin-top: 20px ;
      text-align: center;
}

label{
    font-family: "Montserrat", Sans-Serif;
      font-style: normal;
      font-weight:600;

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    font-family: "Montserrat", Sans-Serif;
      font-style: normal;
      font-weight:500;
  }

input[type=submit]{
    border: solid rgba(105, 156, 94, 0.8);
    color: white;
    font-family: "Montserrat", Sans-Serif;
      font-style: normal;
      font-weight:500;
      width: 150px ;
      border-radius: 40px;
      background-color: rgba(105, 156, 94, 0.8) ;
      margin-top: 30px;
      margin-left: 170px;
}

/*Farmer-Tables*/
.Farmer-Requests-Status{
  margin-left:auto;
  margin-right:auto;
  min-width: 400px;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
}

/*.Farmer-Requests-Status .status{
border-bottom-style: solid;
border-bottom-color: rgba(105, 156, 94, 0.8);
}

.Farmer-Requests-Status .status1{
border-right-style: solid;
border-right-color: rgba(105, 156, 94, 0.8);
}

.Farmer-Requests-Status .status2{
text-align:center;
}*/

.Farmer-Requests-Status thead tr {
  background-color: white;
  color: black;
  text-align: left;
  font-size: 20px;
  line-height: 30px;
    /* border: 1px solid red; */
}

.Farmer-Requests-Status th {
  /* border: 1px solid red; */
   padding:10px 20px;
   color: rgba(105, 156, 94, 0.8) ;
   text-align: center;
}

.Farmer-Requests-Status tbody tr {
  border-bottom: 1px solid grey;
}

.Farmer-Requests-Status tbody tr:last-of-type {
  border-bottom: 1px solid grey;
}

.Farmer-Requests-Status tbody tr :hover {
  cursor: pointer;
}

.Farmer-Requests-Status tr:hover{
  background-color: rgb(224,225,222);
  opacity: 0.85;
}

/*Navbar-Farmer-Registration*/
.f-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#faf8f854;
  height: 2.5rem;
  margin-top: 20px;
  align-items: center;

}

.f-nav li {
  float: left;
  color: rgba(105, 156, 94, 0.8) !important;
  font-family:"Montserrat", Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  align-items: center;
  border-right:8px solid #faf8f854;
}

.f-nav li:last-child {
  border-right: none;
}

.f-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 9px 16px;
  text-decoration: none;
  color: rgba(105, 156, 94, 0.8) !important;
  font-family:"Montserrat", Sans-Serif;
  font-style:normal;
  font-weight: bold;
  font-size: 15px;
  align-items: center;
  background-color:white;
}

.f-nav li a:hover {
  background-color:white;
  font-style: italic;
}

.f-nav .active{
  background-color:white;
  font-style: italic;
  text-decoration:underline;
}

/*Navbar-Farmer-Profile*/
.f-nav-view-profile {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#faf8f854;
  height: 2.5rem;
  margin-top: 10px;
  align-items: center;
  width: 70%;

}

.f-nav-view-profile li {
  float: left;
  color: rgba(105, 156, 94, 0.8) !important;
  font-family:"Montserrat", Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  align-items: center;
  border-right:8px solid #faf8f854;
}

.f-nav-view-profile li:last-child {
  border-right: none;
}

.f-nav-view-profile li a {
  display: block;
  color: white;
  text-align: center;
  padding: 9px 16px;
  text-decoration: none;
  color: rgba(105, 156, 94, 0.8) !important;
  font-family:"Montserrat", Sans-Serif;
  font-style:normal;
  font-weight: bold;
  font-size: 15px;
  align-items: center;
  background-color:white;
}

.f-nav-view-profile li a:hover {
  background-color:white;
  font-style: italic;
}

.f-nav-view-profile .active{
  background-color:white;
  font-style: italic;
  text-decoration:underline;
}

/*NFR-Personal Details*/

.nfr{
  margin-top: 20px;
  margin-left: 500px;
}

.nfr label{
  font-family: "Montserrat", Sans-Serif;
    font-style: normal;
    font-weight:600;
    color: black;

}

.nfr input[type=text] {
  width: 50%;
  padding: 0;
  margin: 0px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  font-family: "Montserrat", Sans-Serif;
    font-style: normal;
    font-weight:500;
}

.nfr input[type=submit]{
  border: solid rgba(105, 156, 94, 0.8);
  color: white;
  font-family: "Montserrat", Sans-Serif;
    font-style: normal;
    font-weight:500;
    width: 150px ;
    border-radius: 40px;
    background-color: rgba(105, 156, 94, 0.8) ;
    margin-top: 30px;
    margin-left: 170px;
}

/*Residue Type*/
.choose-residue{
  margin-top: 120px;
  margin-left: 500px;
  font-family: "Montserrat", Sans-Serif;
  font-style: normal;
  font-weight:500;
}

.choose-residue .select-residue {
  width: 100px;
  margin-left: 55px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  font-family: "Montserrat", Sans-Serif;
    font-style: normal;
    font-weight:500;
}
/*Choose CC*/
.choose-cc{
  margin-top: 120px;
  margin-left: 500px;
  font-family: "Montserrat", Sans-Serif;
  font-style: normal;
  font-weight:500;
}

.choose-cc .select-cc {
  width: 20%;
  margin-left: 55px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  font-family: "Montserrat", Sans-Serif;
    font-style: normal;
    font-weight:500;
}

.choose-cc .select-crops-k {
  width: 20%;
  margin-left: 24px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  font-family: "Montserrat", Sans-Serif;
    font-style: normal;
    font-weight:500;
}

.choose-cc .select-crops-r {
  width: 20%;
  margin-left: 49px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  font-family: "Montserrat", Sans-Serif;
    font-style: normal;
    font-weight:500;
}

.choose-cc input[type=submit]{
  border: solid rgba(105, 156, 94, 0.8);
  color: white;
  font-family: "Montserrat", Sans-Serif;
    font-style: normal;
    font-weight:500;
    width: 150px ;
    border-radius: 40px;
    background-color: rgba(105, 156, 94, 0.8) ;
    margin-top: 30px;
    margin-left: 20px;
}

/*Farmer-Notification*/
.f-noti{
  margin-top: 100px;
  margin-left: 70px;
  font-family: "Montserrat", Sans-Serif;
    font-style: normal;
    font-weight:700;
}

.button1{
  background-color: white;
  color: rgba(105, 156, 94, 0.8);
  border: 3px solid rgba(105, 156, 94, 0.8);
  border-radius: 10px;
  padding: 8px 22px;
  font-family: "Montserrat", Sans-Serif;
      font-style: normal;
      font-weight: 650;
      font-size: 15px;
 margin-top: 200px;
 margin-left: 500px;
}

 .buttonhover1:hover{
    background-color: rgba(105, 156, 94, 0.8);
  color: white;
 }