
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Product Details</title>
  <link rel="icon" type="image/ico" href="images/logo.png">
  <script src="https://cdn.anychart.com/js/8.0.1/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/js/8.0.1/anychart-pie.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body id=body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
    <a class="navbar-brand" href="/">
      <img src="../images/logo.png" alt="" width="40px" height="40px">
    </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="collapse navbar-collapse" >
      <!-- id="navbarSupportedContent" -->
      <%- include('partials/mainheader') %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/registeration">Sign Up </a>
          </li>
         </ul>
    </div>
  </nav>
<div id="container" class="move-down" style="height: 500px; width: 600px; margin:2rem auto;">

</div>
<script type="text/javascript">
  anychart.onDocumentLoad(function() {
  // create a chart and set the data
  // as Array of Arrays
 var rows =<%-JSON.stringify(details)%>;
 var data =[];
 for(i=0;i<rows.length ;i++){
  data.push([rows[i]._id , rows[i].count])
}
  var chart = anychart.pie();
  chart.title("Products made from the raw materials");
  chart.data(data);
  // chart.labels().position("outside");
  chart.container("container").draw();
});
</script>
  </body>
  </html>
