@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

#body {
  /* background: #ccffcc */
  /* color: rgba(105, 156, 94, 0.8); */
   background-image: url("../images/bg.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
a {
	color: inherit;
	text-decoration: transparent underline;
}

a:hover {
	text-decoration-color: unset;
}

.main{
	margin-top: 5rem;
}

/* Login Page */
.box h2{
  text-align: center;
}
.box{
    width: 500px;
    margin-left:auto;
    margin-right: auto;
}
/* Navbar */
nav{
  background-color: white;
  height: 4rem;
  align-items: center;
  color: rgba(105, 156, 94, 0.8);
}

.nav-item{
  margin-right: 1rem;
  padding : 10px;
}

.nav-link {
  color: rgba(105, 156, 94, 0.8) !important;
  font-family:"Montserrat", Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
	padding: 15px 2px;
  text-decoration: none;
}

.nav-link:hover{
  text-decoration: underline !important;
}
/* LOGIN PAGE*/
.floating-label{
	font-size: 1em;
	position: relative;
	margin: 3rem;
}

input{
	color: inherit;
	font-size: 1rem;
	padding: 0.8rem;
	display: block;
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid grey;
}
input::placeholder{
	color: transparent;
}
input:focus{
	outline: none;
	border-bottom: 2px solid black;
}
input:focus ~ label,
input:not(:placeholder-shown) ~ label{
	top: -0.6rem;
	font-size: 1rem;
	color: grey;
}

.floating-label label{
	color: grey;
	position: absolute;
	top: 1rem;
}
.align-centre{
  margin-left: 40%;
  margin-top: 2rem;
}

.btn-styled
{
  justify-content: center;
  margin-left: 2rem;
  font-weight: bold !important;
}
/*contact*/
.styled{
  color: black;
}
.styled:hover{
  color:black;
}
.move-down{
  margin-top: 2rem;
}


/* Home Page */
.main-heading{
  font-family: "Montserrat", Sans-Serif;
  font-style: normal;
  font-weight: 800;
  font-size: 90px;
  line-height: 110px;
}

.second-heading{
font-family: "Montserrat", Sans-Serif;
font-style: normal;
font-weight: 500;
font-size: 32px;
}

.tagline{
  font-family: "Montserrat", Sans-Serif;
  font-size: 24px;
}

.rectangle{
  width: 300px;
  height: 300px;
  background: #FFFFFF;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  float:left;
}

.boxes{
   content:"";
   display:table;
   clear:both;

   /* color:rgba(105, 156, 94, 0.8); */
}
.box-1 {
  margin-right:6rem;
  position:relative;
  text-align:center;
}

.box-2{
  margin-right:6rem;
  position:relative;
  text-align:center;
}

.box-3{
  position:relative;
  text-align:center;
}
.move-down h4{
   text-align: center;
}

.identity{
  color: rgba(105, 156, 94, 0.8);
  font-family: "Montserrat", Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
}
.motive{
  font-family: "Montserrat", Sans-Serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}
.text1{
  position:absolute;
  top:9rem;
  left:3.5rem;
}
.text2{
  position: absolute;
  top:9rem;
  left:1rem;
}
.text3{
  position: absolute;
  top:9rem;
  left:1rem;
}
/* Why Us*/
.colored{
  color: rgba(105, 156, 94, 0.8);
}

.images{
  position:absolute;
  top:2rem;
  left:6.5rem;
}

#testimonials{
  background: #596443;
  margin-top:10%;
}

.testimonial-image{
  border-radius:100%;
  width:10%;
  display: block;
  margin-top:1rem;
  margin-left: auto;
  margin-right: auto;
}
.testimonial-text{
  font-weight:600;
  font-size:1.5rem;
  line-height:1.5;
  text-align: center;
  margin: 0 7%;
  color: white;
}

.container-fluid{
  padding:2%;
}

/*Sign Up*/
.signup-box{
    margin-top:15%;
    border-collapse:separate;
    border-spacing:100px 100px;
}
.align-middle{
  width:60%;
  margin-left:auto;
  margin-right:auto;
}
.signup-box tr td{
  text-align: center;
  width:200px;
  background: #FFFFFF;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}
.signup-box tr td a{
  font-family: "Montserrat", Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: rgba(105, 156, 94, 0.8);
}
